* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}


h3 {
    margin-bottom: 3%;
}

p {
    text-align: center;
    opacity: 0.5;
}
/* header section, modal and nav ################### */
nav {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

nav img {
    margin-left: 7%;
}


nav svg {
    margin-left: 6%;
}

.fa.fa-bars {
    visibility: visible;
    margin-right: 5%;
    font-size: large;
}

div.modal {
    text-align: center;
    position: absolute;
    top: 12%;
    visibility: hidden;
    background-color: hsl(257, 27%, 26%);
    border-radius: 25px;
    left: 12%;
    height: 55vh;
    width: 80%;
    color: white;
}

.modal a {
    color: white;
    text-decoration: none;
    font-weight: 900;
}

ul.modal__products {
    height: 60%;
    border-bottom: 1px solid white;
    width: 80%;
    margin: auto;
}

ul.modal__logSign {
    height: 35%;
    margin: 5% auto;
}

.modal__logSign li:nth-child(2) {
    width: 50%;
    height: 7vh;
    line-height: 7vh;
    background-color: hsl(180, 66%, 49%);
    margin: auto;
    border-radius: 25px;
}

hr {
    width: 80%;
    margin: 2% auto 5%;
}

ul {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

li {
    list-style: none;
}
/* End of Header, nav and modal section */

/* Main secction &&&&&&&&&&&&&&&&&&& */
section.hero {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin: 14% auto 30%;
}

img.hero__img {
    width: 100%;
    margin: auto;
}

.hero__linksInfo h1 {
    font-weight: 900;
    text-align: center;
    font-size: xx-large;
    width: 90%;
    margin-top: 5%;
}

input[type="button"].getStart {
    margin: 5% auto;
    width: 50%;
    height: 8vh;
    border-radius: 20px;    
}

section.brandsSection {
    background-color: lightgray;
    position: relative;
}

section.brandsSection p {
    font-size: small;
    font-weight: 900;
    width: 90%;
    margin: auto;
    text-align: center;
}
 /* form */
 form.shortUrl {
    position: absolute;
    top: -8%;
    left: 5%;
    width: 90%;  
    margin: auto;
    height: 23vh;
    padding: 1% 0 0 0;
    border-radius: 25px;

    background-image: url('images/bg-boost-mobile.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(70, 24, 112);
}

.urlDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: white;
    padding-bottom: 5%;
}

input#userInp {
    font-size: 8pt;
    padding-left: 5%;
}

input#userInp:invalid{
    border: 3px solid hsl(0, 87%, 67%);
    box-shadow: 1px 1px 0px 3px rgb(141, 98, 107);
}

input#userInp:focus {
    height: 8vh;
}

label {
    position: absolute;
    font-size: 11px;
    color:  hsl(0, 87%, 67%);
    margin-left: 5%;
    margin-bottom: 2%;
    display: none;
}
.url-box, .url-short {
    padding-left: 5%;
    font-size: 10pt;
    width: 100%;
    height: 5vh;
    border: none;
}

.url-short {
    color: hsl(180, 66%, 49%);
    border-top: 1px solid black;
}

input[type="url"],
input[type="button"] {
    width: 90%;
    display: block;
    margin: 3% auto 1%;
    height: 6vh;
}

input[type="button"] {
    background-color: hsl(180, 66%, 49%);
    font-size: large;
    font-weight: 700;
    color: white;
    margin-top: 7%;
}

.urlContainer {
    padding: 20% 1% 10%;
}

.brands {
    position: relative;
    background-color: white;
    margin: 5% auto 20%;
    width: 90%;
    height: 50vh;
    display: block;
    text-align: center;
    z-index: 10;
}

.decoration {
    position: absolute;
    top: 59%;
    width: 140vw;
    left: -78px;
    height: 1.5vh;
    z-index: 1;
    background-color: hsl(180, 66%, 49%);
    transform: rotate(90deg);
}

.heroSecondary {
    background-color: hsl(0, 0%, 75%);
}

.stats {
    margin-bottom: 15%;
    text-align: center;
}

.customize.brands {   
    margin-bottom: 0;
}

.brandsImg {
    position: relative;
    top: -15%;
    width: 80px;
    height: 80px;
    line-height: 16vh;
    margin: auto;
    background-color: hsl(260, 8%, 14%);
    border-radius: 50%;
}

.copy-btn {   
    font-size: 15pt;
    width: 90%;
    margin: auto;
    height: 7vh;
    background: hsl(180, 66%, 49%);
    border-radius: 10px;
    color: #fff;
    border: none;
}
 /* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& FOOTER  ************* */
.footer {   
    color: white;
    padding: 0 0 10%;
    background-color: hsl(260, 8%, 14%);
    /*  margin-top: 20px; */
}

.footer .section-footer {
    background-image: url('images/bg-boost-desktop.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(70, 24, 112);
    text-align: center;    
    height: 40vh;
}
footer h2 {
    padding-top: 5%;
}
.section-footer>button {
    margin: 20px;
    background: none;
    background-color: turquoise;
    border-radius: 10px;
    padding: 10px;
    border: none;
    color: white;
}

.section-footer button:hover {
    cursor: pointer;
    background: white;
    color: turquoise;
}

/* section bottom of footer */

.footer .footer-bottom {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 2fr;
    gap: 10px;
    margin-top: 4%;
}

.footer .footer-bottom>* {    
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 10px;
}

footer svg {
    margin: 8% auto;
}

footer svg path {
    fill: white;
}

.footer .footer-bottom a {
    color: whitesmoke;
    text-decoration: none;
    font-size: small;
}

.footer .footer-bottom .one {
    align-items: flex-start;
}

.footer-bottom .five {
    margin-top: 5%;
    grid-template-columns: repeat(4, 1fr);
    align-content: flex-start;
}

.footer-bottom .one>* {
    font-size: 3rem;
}

.footer-bottom a:hover {
    transform: translateY(3px);
}

.footer-bottom img:hover {
    cursor: pointer;
    transform: translateY(3px);
}
/* ############################%%%%%%%%%%%%%%%%%%%%%%%%&&&&&&&&&&&&&&&&&&& */

@media only screen and (min-width: 680px) {
    ul.modal__logSign {        
        margin: auto;
    }
    .decoration { 
        width: 65vw;       
        top: 64%;       
        left: 25%;                
        transform: rotate(0deg);
    }
    .copy-btn {       
        width: 20%;
        height: 5vh;  
        margin: 2% 2% 0 0;        
    }
    .urlDiv {        
        flex-wrap: nowrap;
        padding-bottom: 2%;
    }
    input#userInp {       
        font-size: 15pt;       
    }
    label {       
        font-size: 15px;       
    }
    .url-box, .url-short {
        padding-left: 5%;
        font-size: 15pt;
        width: 100%;   
        height: 5vh;
        border: none;   
    }    
    
    nav img {
        margin-left: 5%;
    }
    .modal__logSign li:nth-child(2) {
        width: 80%;
        height: 5vh;
        line-height: 5vh;
        margin: -1px 5%;
    }
    hr {
        display: none;
    }
    section.hero {
        margin: 5% auto 8%;
    }
    input[type="url"],
    input[type="button"] {
        display: inline-block;
        margin: 0;
        height: 6vh;
    }
    input[type="url"] {
        width: 60%;
    }
    input[type="button"] {
        width: 30%;
    }
    div.modal {
        width: 75%;
        visibility: visible;
        display: flex;
        justify-content: space-around;
        top: 9%;
        right: 0;
        height: 5vh;
        background-color: inherit;
        left: 22%;
        color: black;
    }
    .modal a {
        color: black;
    }
    ul {
        display: flex;
        flex-direction: row;
    }
    li {
        width: 10vw;
    }
    .fa.fa-bars {
        visibility: hidden;
    }
    .hero__linksInfo {
        width: 50%;
    }
    img.hero__img {
        width: 50%;
    }
    nav svg {
        margin-top: 2%;
    }
    .brand {
        align-self: flex-start;
    }
    .detailedRecords {
        align-self: center;
    }
    .customize.brands {
        align-self: flex-end;
        margin-bottom: 5%;
    }
    .brandsImg {   
        width: 65px;
        height: 65px; 
        line-height: 18vh;
        right: 40%;
    }
    .brands {
        width: 30%;
        height: 46vh;
        margin: 5% auto 8%;      
    }
    .stats {
        margin-bottom: 0;
    }
    .hero__linksInfo h1 {
        font-size: xx-large;
        width: 55%;
        margin: 5% auto 0;
        text-align: start;
    }
    .hero__linksInfo p {
        width: 55%;
        margin: auto;
        text-align: start;
    }
    input[type="button"].getStart {
        margin: 5% 22%;
        width: 31%;
        font-size: large;
    }
    .details {
        width: 90%;
        display: flex;
        height: 70vh;
        margin: auto;
    }
    form.shortUrl {
        background-image: url('images/bg-boost-desktop.svg');
        height: 15vh;
        text-align: center;
        top: -6%;
    }
    .urlContainer {
        padding: 12% 0% 4%;
    }
    section.brandsSection p {
        font-size: small;
        width: 80%;
    }
}


.url-box:focus {
    outline: none;
}

.copy-btn:focus {
    outline: none;
}

.load-wrapper {
    text-align: center;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

@media (max-width:600px) {
    .footer .footer-bottom {
        background-color: hsl(260, 8%, 14%);
        display: grid;
        grid-template-columns: 1fr;
    }
    .footer .footer-bottom>div {
        justify-items: center;
    }
    .footer .footer-bottom strong {
        font-size: 1.1rem;
    }
    .footer .footer-bottom .one>strong {
        font-size: 2.3rem;
    }
}



@media only screen and (min-width: 980px) {
   
    nav svg {
        margin-top: 0;
    }
    section.brandsSection p {
        font-size: large;
           }

           .brandsImg {           
            top: -7%; 
            line-height: 10vh;          
        } 
        .brands {           
            height: 40vh;           
        }   
        .modal__logSign li:nth-child(2) {           
            margin: -9px 5%;
            height: 4vh;
            line-height: 4vh;
        }  

}