* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /*text-align: center;
    font-size: 15px; */
    font-family: 'Poppins', sans-serif;    
}

.footer {
    background-image: url('images/bg-boost-desktop.svg');
    background-repeat:no-repeat ;
    background-position: center;
    background-size: cover;
    background-color: rgb(70, 24, 112);
    color: white;
    padding: 20px;
    margin-top: 20px;
}
.footer .section-footer {
    text-align: center;
    width: 50%;
    margin: 20px auto;
}
.section-footer > button {
    margin: 20px ;
    background: none;
    background-color: turquoise;
    border-radius: 10px;
    padding: 10px;
    border: none;
    color: white;
}
.section-footer button:hover {cursor: pointer;}



@media only screen and (min-width: 300px) {
nav {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
ul {
    text-align: center;
}
li {
    list-style: none;
}
section.modal {
    text-align: center;
    position: absolute;    
    visibility: hidden; 
}

img.illustrate {
    width: 80%;
    margin: auto;
}

.fa.fa-bars {
    visibility: visible;
}

section.hero {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.shorterLinks h1 {
    font-weight: 900;
    text-align: center;
    font-size: xx-large;
}

p {
    text-align: center;
}

input.getStart {
    margin: 5% auto;
    width: 50%;
    height: 8vh;
    border-radius: 20px;    
    background-color:hsl(180, 66%, 49%) ;
    color: white;
    display: block;
}
/* ***************Main Section ****************** */
input[type="url"], input[type="submit"] {
    width: 90%;
    display: block;
    margin: 3% auto;
    height: 6vh;
}

form.shortUrl {
    width: 90%;
    background-image: url("images/bg-boost-mobile.svg");
    display: block;
    margin: auto;
    height: 20vh;
    /* line-height: 12vh; */
    padding: 1% 0 0 0;
}

}

 @media only screen and (min-width: 680px) {
    nav img {
        margin-left: 5%;
    }
    section.modal {
        width: 80%;
        visibility: visible;
        display: flex;
        justify-content: space-around;
    top: 7%;
    right: 0;
    }

    ul {
        display: flex;
    }

    li {
        width: 10vw; 
    }

    .fa.fa-bars {
        visibility: hidden;
    }
    .shorterLinks {
        width: 50%;
    }
    img.illustrate {
        width: 50%; 
    }

    section.hero {
       /* margin-top: 5%;*/
    }

    .shorterLinks h1 {
        font-size: xxx-large;
        width: 55%;        
        margin: 5% auto 0;
        text-align: start;
    }

    .shorterLinks p {
        width: 55%;
        margin: auto;
        text-align: start;
    }

    input.getStart {
        margin: 5% 22%;
        width: 31%;
        font-size: large;      
    }

     }